@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


@media screen and (max-width: 1440px) and (min-width: 451px) {
    body {
        margin: 0;
    }

    /* BODY */
    .about-us-1,
    .about-us-2,
    .why-us {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }

    .about-us-1 img,
    .about-us-1 p,
    .about-us-2 img,
    .about-us-2 p,
    .why-us img,
    .why-us p {
        flex-basis: 40%;
    }

    .about-us-1 p,
    .about-us-2 p,
    .why-us p,
    .ticket-banner p {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 3vw;
        line-height: 1.5em;
        text-align: center;
        color: #000000;
    }

    .about-us-1 img,
    .about-us-2 img,
    .why-us img,
    .ticket-banner img {
        width: 30vw;
    }

    .bundle-service {
        display: flex;
        flex-direction: column;
        padding: 10px 40px;
        box-sizing: border-box;
    }

    .bundle-service>p {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 3vw;
        line-height: 60px;
        text-align: center;
        color: #000000;
    }

    .card-flex-row {
        display: flex;
        flex-direction: row;
    }


    .card-service {
        background: #FFFFFF;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        flex-grow: 1;
        /* flex-basis: 33%; */
        /* margin: 20px;
        padding: 20px; */
        padding: 2vw;
        margin: 1vw;
        box-sizing: border-box;
    }

    .card-service h2 {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5vw;
        line-height: 1em;
        text-align: center;
        color: #000000;
    }

    p.card-p1,
    p.card-p2 {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        color: #000000;
    }

    p.card-p1 {
        font-size: 2.5vw;
        line-height: 1.5em;
    }

    p.card-p2 {
        font-size: 2.5vw;
        line-height: 1.5em;
    }

    .movie {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .movie h2 {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 3.5vw;
        line-height: 2em;
        text-align: center;
        color: #000000;
        margin: 0;
    }

    .movie-flex-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .movie-list {
        text-align: center;
        padding: 0 20px;
    }

    .movie-list p {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 2vw;
        line-height: 1em;
        text-align: center;
    }

    .movie-list img {
        width: 15vw;
    }

    .get-ticket {
        display: flex;
        flex-direction: row;
        margin-top: 10vw;
    }

    .ticket-flex-col {
        flex-grow: 1;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ticket-rsvp {
        background: #FFFFFF;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 20px 20px 30px 20px;
        width: 25vw;
    }

    .ticket-rsvp-card {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 3vw;
        line-height: 1.5em;
        text-align: center;
        color: #000000;
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    .input-text {
        width: auto;
        height: auto;
    }

    .field {
        margin-bottom: 1em;
        /* background: coral; */
        display: flex;
        flex-direction: column;
    }

    .rsvp-card {
        flex-grow: 1;
    }

    .field label,
    .field-meals label {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5vw;
        line-height: 1.5em;
        color: #000000;
    }

    .field input {
        font-family: Quicksand;
        font-size: 1.5vw;
        line-height: 1em;
        border-radius: 5.03113px;
        background: #C4C4C4;
        border-style: none;
    }

    .field-meals {
        margin-top: 1vw;
    }

    .one-meal {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5vw;
        line-height: 1em;
        color: #000000;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
    }

    .elemen-big {
        flex-grow: 17;
        flex-basis: 10%;
        margin: 0;
    }

    .elemen-small {
        flex-grow: 3;
        flex-basis: 10%;
        text-align: center;
        margin: 0;
    }

    .button {
        border-style: none;
        background: #FFFFFF;
        box-shadow: 0px 0px 3.35409px rgba(0, 0, 0, 0.25);
        border-radius: 5.03113px;
        box-sizing: border-box;
        padding: 5px;

        /* font style */
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 2vw;
        text-align: center;
        color: #000000;
    }

    .button-2 {
        box-sizing: border-box;
        justify-content: center;
        text-align: center;
    }

    .btn-submit {
        align-items: center;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5vw;
        line-height: 2em;
        text-align: center;
        color: #FFFFFF;
        background: #24C0FF;
        box-shadow: 0px 2.55556px 10.2222px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        border-style: none;
        padding: 0 30px;
    }

    .info {
        margin-top: 10vw;
        padding: 5vw 0;
        background: #F3B304;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .info-text {
        flex-basis: 60%;
    }

    .info-detail {
        display: flex;
        flex-direction: row;
    }

    .info-detail-p1,
    .info-detail-p2 {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5vw;
        line-height: 2em;
        text-align: left;
        color: #000000;
        margin: 0.1em 0.5em;
    }

    .info-detail-p1 {
        padding-left: 5vw;
        flex-basis: 20%;
    }

    .info-detail-p2 {
        flex-basis: 70%;
    }

    .info-socialmedia {
        flex-basis: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .info-socialmedia img {
        width: 3vw;
    }

    .info-socialmedia img,
    .info-socialmedia label {
        margin: 0.5vw;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 2vw;
        line-height: 2em;
        color: #000000;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-bottom: 3vw;
        /* centering card */
        margin: 10vw auto;
        padding: 2vw 5vw;
        width: fit-content;
    }

    .profile h2 {
        margin: 0;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 3vw;
        line-height: 1.5em;
        text-align: center;
        color: #000000;
    }

    p.name {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 2vw;
        line-height: 1em;
        text-align: center;
        color: #000000;
    }

    .adds {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 1vw;
        line-height: 1em;
        text-align: center;
        color: #000000;
    }

    .profile img,
    .profile p {
        flex-grow: 1;
    }

    .profile img {
        width: 10vw;
    }

    .pop_up_window {
        display: none;


    }

    .modal-parent {
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        background-image: url('../images/Group-190.svg');
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background-size: 100% 100%;
        width: 57vw;
        height: auto;
        min-height: fit-content;
        overflow: visible;
        background-color: white;

        position: absolute;
        top: 375vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        animation: 0.5s drop;
    }

    .thank {
        margin: 0;
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 3vw;
        line-height: 1em;
        color: #000000;
        text-align: center;
        flex-grow: 3;
    }

    .modal {
        background: #FFFFFF;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        width: 20vw;
        box-sizing: border-box;
        margin-right: 1vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
        padding: 3vw;
        flex-grow: 1;
    }

    .modal h2 {
        margin: 0;
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 3vw;
        line-height: 1em;
        color: #000000;
        text-align: center;
    }

    #movie-date {
        margin: 0;
        margin-bottom: 1vw;
        font-family: Quicksand;
        font-style: normal;
        font-size: 1vw;
        color: #000000;
        text-align: center;
    }

    #movie-name,
    #name-final,
    #ppl-final {
        font-family: Quicksand;
        font-style: normal;
        font-size: 1.5vw;
        font-weight: bold;
        line-height: 1em;
        color: #000000;
    }

    #movie-name {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    #name-final,
    #ppl-final {
        margin-top: 0;
        margin-bottom: 1.5vw;
    }

    .modal h3 {
        margin: 0;
        font-family: Quicksand;
        font-style: normal;
        font-size: 1vw;
        font-weight: normal;
        color: #000000;

    }

    table {
        font-family: Quicksand;
        font-style: normal;
        font-size: 1vw;
        font-weight: bold;
        color: #000000;
        width: 100%;
    }

    td {
        padding: 0;
    }

    .ex {
        font-size: 2em;
        text-align: right;
        padding: 1vw;
        cursor: pointer;
        align-self: flex-start;
    }

    @keyframes drop {
        0% {
            top: -100px;
        }

        100% {
            top: 50%;
        }
    }

}

@media screen and (max-width: 450px) {
    body {
        margin: 0;
        padding: 0;
    }

    .about-us-1,
    .about-us-2,
    .why-us {
        display: flex;
        margin: 40px 0;
        align-items: center;
    }

    .about-us-1 {
        flex-direction: column-reverse;
    }

    .about-us-2,
    .why-us {
        flex-direction: column;
    }

    .about-us-1 img,
    .about-us-1 p,
    .about-us-2 img,
    .about-us-2 p,
    .why-us img,
    .why-us p {
        margin: 0;
        flex-grow: 1;
    }

    .about-us-1 p,
    .about-us-2 p,
    .why-us p,
    .ticket-banner p {
        margin: auto;
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 5vw;
        line-height: 1.5em;
        color: #000000;
    }

    .why-us p {
        margin-top: 5vw;
    }

    .about-us-1 img,
    .about-us-2 img,
    .why-us img,
    .ticket-banner img {
        width: 60vw;
    }

    .bundle-service {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        box-sizing: border-box;
    }

    .bundle-service>p {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 6vw;
        line-height: 1.5em;
        text-align: center;
        color: #000000;
    }

    .card-flex-col {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }


    .card-service {
        background: #FFFFFF;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        flex-grow: 1;
        padding: 4vw;
        margin: 1vw;
        box-sizing: border-box;
    }

    .card-service h2 {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 6vw;
        line-height: 1em;
        text-align: center;
        color: #000000;
    }

    p.card-p1,
    p.card-p2 {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        color: #000000;
    }

    p.card-p1 {
        font-size: 5vw;
        line-height: 1.5em;
    }

    p.card-p2 {
        font-size: 5vw;
        line-height: 1.5em;
    }

    .movie {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .movie h2 {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 5vw;
        line-height: 2em;
        text-align: center;
        color: #000000;
        margin: 0;
    }

    .movie-flex-col {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .movie-list {
        text-align: center;
        padding: 0 1.5vw;
    }

    .movie-list p {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 4vw;
        line-height: 1em;
        text-align: center;
    }

    .movie-list img {
        width: 18vw;
    }

    .get-ticket {
        display: flex;
        flex-direction: column;
        margin-top: 10vw;
    }

    .ticket-flex-col {
        flex-grow: 1;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ticket-banner {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 3vw;
        line-height: 48px;
        color: #000000;
    }

    .ticket-rsvp {
        background: #FFFFFF;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 20px 20px 30px 20px;
        width: 50vw;
    }

    .ticket-rsvp-card {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 5vw;
        line-height: 1.5em;
        text-align: center;
        color: #000000;
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .input-text {
        width: auto;
        height: auto;
    }

    .field {
        margin-bottom: 0.5em;
        display: flex;
        flex-direction: column;
    }

    .rsvp-card {
        flex-grow: 1;
    }

    .field label,
    .field-meals label {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 4vw;
        line-height: 1.5em;
        color: #000000;
    }

    .field input {
        font-family: Quicksand;
        font-size: 3vw;
        line-height: 1.5em;
        border-radius: 5.03113px;
        background: #C4C4C4;
        border-style: none;
    }

    .field-meals {
        margin-top: 3vw;
    }

    .one-meal {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 4vw;
        line-height: 1em;
        color: #000000;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
    }

    .elemen-big {
        flex-grow: 17;
        flex-basis: 10%;
        margin: 0;
    }

    .elemen-small {
        flex-grow: 3;
        flex-basis: 10%;
        text-align: center;
        margin: 0;
    }

    .button {
        border-style: none;
        background: #FFFFFF;
        box-shadow: 0px 0px 3.35409px rgba(0, 0, 0, 0.25);
        border-radius: 5.03113px;
        box-sizing: border-box;
        padding: 5px;

        /* font style */
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 2vw;
        text-align: center;
        color: #000000;
    }

    .button-2 {
        box-sizing: border-box;
        justify-content: center;
        text-align: center;
    }

    .btn-submit {
        align-items: center;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 4vw;
        line-height: 2em;
        text-align: center;
        color: #FFFFFF;
        background: #24C0FF;
        box-shadow: 0px 2.55556px 10.2222px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        border-style: none;
        padding: 0 1em;
    }

    .info {
        margin-top: 10vw;
        padding: 5vw 0;
        background: #F3B304;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .info-text {
        flex-basis: 60%;
    }

    .info-detail {
        display: flex;
        flex-direction: row;
    }

    .info-detail-p1,
    .info-detail-p2 {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 3vw;
        line-height: 2em;
        text-align: left;
        color: #000000;
        margin: 0.1em 0.5em;
    }

    .info-detail-p1 {
        padding-left: 5vw;
        flex-basis: 20%;
    }

    .info-detail-p2 {
        flex-basis: 70%;
    }

    .info-socialmedia {
        flex-basis: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .info-socialmedia img {
        width: 3vw;
    }

    .info-socialmedia img,
    .info-socialmedia label {
        margin: 0.5vw;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 3vw;
        line-height: 2em;
        color: #000000;
    }

    .profile {
        display: flex;
        flex-direction: row;
        background: #FFFFFF;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-bottom: 3vw;
        /* centering card */
        margin: 10vw auto;
        padding: 5vw 10vw;
        width: fit-content;
        align-items: center;
    }

    .profile h2 {
        display: none;
    }

    p.name,
    .adds {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        line-height: 1em;
        text-align: left;
        color: #000000;
    }

    p.name {
        font-size: 4vw;
    }

    .adds {
        font-size: 2vw;
    }

    .profile img {
        margin-right: 3vw;
        width: 15vw;
    }

    .pop_up_window {
        display: none;
    }

    .modal-parent {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-image: url('../images/Group-190.svg');
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background-size: 100%;
        width: 68vw;
        height: auto;
        min-height: fit-content;
        overflow: visible;
        background-color: white;

        position: absolute;
        top: 360vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        animation: 0.5s drop;
    }

    .thank {
        margin: 0;
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 3vw;
        line-height: 1em;
        color: #000000;
        text-align: center;
        flex-grow: 3;
    }

    .modal {
        background: #FFFFFF;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        width: 64vw;
        box-sizing: border-box;
        margin-right: 1vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
        padding: 3vw;
        flex-grow: 1;
    }

    .modal h2 {
        margin: 0;
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 8vw;
        line-height: 1em;
        color: #000000;
        text-align: center;
    }

    #movie-date {
        margin: 0;
        margin-bottom: 1vw;
        font-family: Quicksand;
        font-style: normal;
        font-size: 3vw;
        color: #000000;
        text-align: center;
    }

    #movie-name,
    #name-final,
    #ppl-final {
        font-family: Quicksand;
        font-style: normal;
        font-size: 6.5vw;
        font-weight: bold;
        line-height: 1em;
        color: #000000;
    }

    #movie-name {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    #name-final,
    #ppl-final {
        margin-top: 0;
        margin-bottom: 1.5vw;
    }

    .modal h3 {
        margin: 0;
        font-family: Quicksand;
        font-style: normal;
        font-size: 4vw;
        font-weight: normal;
        color: #000000;

    }

    table {
        font-family: Quicksand;
        font-style: normal;
        font-size: 3vw;
        font-weight: bold;
        color: #000000;
        width: 100%;
    }

    td {
        padding: 0;
    }

    .ex {
        background-color: skyblue;
        border-radius: 77px;
        font-size: 1em;
        text-align: right;
        padding: 2vw 3.5vw;
        cursor: pointer;
        align-self: center;
        margin-bottom: 1vw;
    }

    @keyframes drop {
        0% {
            top: -100px;
        }

        100% {
            top: 50%;
        }
    }

}

/* HEADER SETTING */
@media screen and (min-width: 1000px) {
    header {
        /* header rata kolom */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    }

    .header-responsive {
        display: none;
    }

    .logo {
        /* background: darksalmon; */
        /* margin: 10px; */
        /* margin: 15px 3px 3px 25px; */
        flex-basis: 50%;
        margin: 0.5em 0.5em;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5em;
        color: #000000;
    }

    nav {
        flex-basis: 40%;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        padding-left: 0;
    }

    nav li {
        display: inline;
        list-style: none;
        flex-grow: 1;
    }

    nav a {
        text-decoration: none;
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2em;
        text-align: center;
        color: #000000;
    }

    .button-nav {
        padding: 0.5em;
        color: #FFFFFF;
        background: #24C0FF;
        border-radius: 50px;
    }

    nav img {
        display: none;
    }
}

@media screen and (max-width: 999px) {
    header {
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-responsive {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        /* align-content: space-between; */
    }

    .logo,
    .logo-responsive {
        margin: 0;
        padding: 0.5em;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 1em;
        color: #000000;
        flex-grow: 1;
    }

    span img {
        width: 5vw;
        margin: 2vw 2vw;
        align-self: flex-end;
        flex-grow: 1;
    }

    .logo,
    nav {
        display: none;
    }

    .active {
        display: block;
    }

    nav ul {
        padding-left: 0;
    }

    nav li {
        text-align: center;
        list-style: none;
    }

    nav a {
        text-decoration: none;
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 0.8em;
        text-align: center;
        color: #000000;
        width: 100vw;
    }
}